body {
   background: image(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
 }
h1{
   font-family: Helvetica;
   font-size: 100px;
   font-weight: bold;
   color: Khaki;
 }
.Brushes{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color:white;
  background-color:mediumspringgreen;
}
p{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
.frames {
  background-color:lightcoral;
}
